.Modal {
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    overflow: scroll;
    justify-content: space-between;
    position: fixed;
    z-index: 500;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 60%;
    top: 10%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
.Modal div {
    margin-bottom: 15px;
}

@media (min-width: 400px) {
    .Modal {
        left: calc(50% - 190px);
    }
}
@media screen and (max-width: 400px){
    .Modal {
        width: 300px;
        left: calc(50% - 150px);
    }
}
